body {
    background: #f1f3f5!important;
}

.letter-spacing {
    letter-spacing: 2px;
}

#product_img {
    transition: 0.5s;
}

#product_img:hover {
  cursor: pointer;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
}

.carousel-arrow {
    background: lightgray;
    padding: 1rem;
    font-size: 2rem;
}
